<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - Brand News</title>
    <link rel="stylesheet" th:href="@{/styles/auth.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="auth-container">
    <h2>Welcome Back</h2>
    <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Login</button>

        <p th:if="${param.error}" class="error-msg">Invalid credentials</p>
    </form>
    <div class="form-footer">
        <a th:href="@{/register}">Don't have an account? Register</a>
    </div>
</div>
</body>
</html>